:root {
  --red: 255;
  --green: 102;
  --blue: 0;
  --alpha: 0.1;

  --main-color: rgb(var(--red), var(--green), var(--blue));
  --main-color-transparent: rgba(var(--red), var(--green), var(--blue), var(--alpha));

  --dark-color: rgb(21, 23, 29);
  --alt-dark-color: rgb(36, 36, 39);
  --light-color: rgb(234, 240, 253);

  --gap: 10px;
  --border-radius: 4px;
  --bordered: 1px solid;
}

body {
  margin: 0;
  font-size: 24px;
  font-family: system-ui;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.title {
  text-align: center;
  color: var(--main-color);
}

.section,
.counter {
  margin: var(--gap);
}

.section {
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
  border-radius: var(--border-radius);
  border: var(--bordered) var(--alt-dark-color);
}


.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.button {
  flex-grow: 1;
  padding: calc(var(--gap) / 2) var(--gap);
  cursor: pointer;
  border: var(--bordered);
  border-radius: var(--border-radius);
  font-size: 95%;
  font-weight: 700;
  color: var(--main-color);
  background-color: var(--dark-color);
}

.button:disabled {
  color: var(--light-color);
  cursor: not-allowed;
  background-color: var(--alt-dark-color);
}

.button--reset {
  color: var(--main-color);
  border: var(--bordered) var(--alt-dark-color);
  background-color: var(--dark-color);
}

.button:not(:disabled):hover {
  /* background-color: var(--main-color-transparent); */
  text-decoration: underline;
}

.info {
  display: flex;
  gap: var(--gap);
  padding: var(--gap);
  background-color: var(--alt-dark-color);
}

.count,
.type {
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding: calc(var(--gap) / 2) calc(var(--gap) * 2);
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 700;
  background-color: var(--dark-color);
}

.pair,
.odd,
.zero {
  color: var(--main-color);
}